<ion-content scroll="false" ng-controller="twoY">
  <div class="row">
    <div class="col y-controller steerer">
      <div>Steer</div>
      <div ng-bind="position.x"></div>
    </div>
    <div class="col info">
      <div>Sending</div>
      <label class="toggle">
        <input type="checkbox" ng-model="sending" ng-change="toggleSending()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
    <div class="col y-controller accelerator">
      <div>Accel</div>
      <div ng-bind="position.y"></div>
    </div>
  </div>
</ion-content>

