[ng-controller=twoY] {
  /* make room for the tabs at the bottom. There's probably some ionic class to handle htis */
  padding-bottom: 50px; 
  > .row {
    height: 100%;
  }
}

.y-controller {
  color: white;
  font-weight: bold;
  text-align: center;
}

.info {
  text-align: center;
}

.steerer {
  background: green;
}
.accelerator {
  background: blue;
}
