
[ng-controller=twoY] {
  > .row {
    height: 100%;
  }
}

.y-controller {
  color: white;
  font-weight: bold;
  text-align: center;
}

.steerer {
  background: green;
}

.accelerator {
  background: blue;
}
