
[ng-controller=twoY] {
  > .row {
    //height: 100%;
  }
}
.y-controller {
  height: 200px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.steerer {
  background: green;
}
.accelerator {
  background: blue;
}
